/* APP STYLES */

.app {
  height: 100%;
  font-size: 16px;
}

.m-top-1 {
  margin-top: 10px;
}

.m-top-2 {
  margin-top: 20px;
}

.m-top-3 {
  margin-top: 30px;
}

.m-right-1 {
  margin-right: 10px;
}

.display-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
}

button:hover {
  cursor: pointer;
}

.simple-header {
  letter-spacing: 3px;
  font-size: 1.9rem;
  padding: 10px;
}

.home-button {
  padding: 5px;
  border-radius: 3px;
  font-size: 1.1rem;
  float: right;
  background: #031927;
  color: #fcfaf9;
  border: 1px solid #fcfaf9;
}

.not-found {
  width: 70%;
  margin: 50px auto;
  text-align: center;
}
