.home-container {
    height: 100%;
    background: linear-gradient(#F7FAF9, #F3F7F6);
}

.home-title {
    color: #FCFAF9;
    height: 40px;
    line-height: 40px;
    letter-spacing: 3px;
    font-size: 32px;
    padding: 20px;
    background: #031927;
}

.home-button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 40px auto 0 auto;
}

.app-tile-btn {
    width: 300px;
    margin: 20px;
    text-align: center;
    border: 2px solid #031927;
    border-radius: 2px;
}

.app-tile-btn-title {
  border-bottom: 2px solid #031927;
  padding: 5px 0;
  background: #FCFAF9;
}

.app-tile-btn-body {
  height: 200px;
  background: #031927;
}

.app-tile-btn-body i {
  line-height: 130px;
  font-size: 64px;
  color: #FCFAF9;
}

.app-tile-launch-btn {
  margin: auto;
  background: #A3BAC3;
  border: 1px solid #FCFAF9;
  border-radius: 2px;
  width: 100px;
  padding: 10px;
}

.app-tile-launch-btn:hover {
  cursor: pointer;
}

.baseball-loading-popup {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  height: 200px;
  width: 350px;
  font-size: 1.5rem;
  text-align: center;
  background: #93A3B1;
  border: 3px solid #011627;
  border-radius: 5px;
}