.home-container {
    height: 100%;
    background: #F8FBFB;
}

.home-title {
    color: #F8FBFB;
    letter-spacing: 3px;
    font-size: 1.9rem;
    padding: 10px;
    border-bottom: 1px solid #011627;
    background: #23A1EA;
}

.home-button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 40px auto 0 auto;
}

.app-tile-btn {
    width: 200px;
    margin: 20px;
    text-align: center;
    border: 2px solid #011627;
    border-radius: 2px;
}

.app-tile-btn-title {
  border-bottom: 2px solid #011627;
  padding: 5px 0;
  background: #F6F7F8;
}

.app-tile-btn-body {
  height: 100px;
  padding: 3px 0;
  background: linear-gradient(#2EC4B6, #31D8C8);
  line-height: 100px;
}

.baseball-loading-popup {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  height: 200px;
  width: 350px;
  font-size: 1.5rem;
  text-align: center;
  background: #93A3B1;
  border: 3px solid #011627;
  border-radius: 5px;
}