.spotify-container {
  background: #ffffff;
  height: 100%;
}

.spotify-header {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  background: #191414;
}

.spotify-content {
  width: 95%;
  margin: auto;
}

.spotify-list {
  display: flex;
  flex-direction: column;
}

.spotify-list div {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  height: 50px;
  border-bottom: 1px solid black;
}

.spotify-list-header {
  font-size: 24px;
  color: #191414;
  font-weight: bold;
}
